<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-left-content">
      <p class="text-muted">
        &copy; {{ site.time | date: "%Y" }} {{ site.title | escape }}. All rights reserved.
        {% if site.email %}
          <br> Contact: <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
        {% endif %}
      </p>
    </div>

    <div class="footer-right-content">
      {%- include social.html -%} 
    </div>
  </div>

</footer>
